{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-jsx",
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}
